<div class="container">
    <div class="row">
        <div class="col lesspadding">

            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand -->
                <a class="navbar-brand text-center" routerLink="#"><img style="width: 75%; text-align: center;" src="../../assets/images/lgoo.png" alt=""></a>
              
                <!-- Links -->
                <ul class="navbar-nav mt-2">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="#"><i class="fa fa-tachometer"></i> Dashboard</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-users"></i> Applicant Details</a>
                    <div class="dropdown-menu">
                        <ul>
                        <li><a class="dropdown-item" routerLink="#">Applicant List</a></li>
                        <li><a class="dropdown-item" routerLink="#">New Applicant</a></li>
                        <li><a class="dropdown-item" routerLink="#">Applicant History</a></li>
                    </ul>
                      </div>
                  </li>
              
                  <!-- Dropdown -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-check"></i> My Verification
                    </a>
                    <div class="dropdown-menu">
                     
                      <ul>
                        <li><a  class="dropdown-item" routerLink="#">Field Verification Status</a></li>
                        <li><a  class="dropdown-item" routerLink="#">Doc Verification List</a></li> 
                        <li><a  class="dropdown-item" routerLink="#">FOE Case Allocation List</a></li> 
                        <li><a  class="dropdown-item" routerLink="#">Unallocated Cases</a></li> 
                        <li><a  class="dropdown-item" routerLink="#">Inactive Cases</a></li> 
                        <li><a  class="dropdown-item" routerLink="#">In Cases</a></li> 
                        <li><a  class="dropdown-item" routerLink="#">Out Cases</a></li> 
                        <li><a  class="dropdown-item" routerLink="#">Rejected Cases</a></li> 
                        </ul>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-check"></i> Document Export
                    </a>
                    <div class="dropdown-menu">
                     <ul>
                        <li><a  class="dropdown-item" routerLink="#">Generate Excel</a></li>
                        </ul>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-check"></i> Master Report
                    </a>
                    <div class="dropdown-menu">
                     <ul>
                        <li><a  class="dropdown-item" routerLink="#">Master Export</a></li>
                        </ul>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-download"></i> Bulk Download PDF
                    </a>
                    <div class="dropdown-menu">
                     <ul>
                        <li><a  class="dropdown-item" routerLink="#">Close Cases Download</a></li>
                        </ul>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-cog"></i> Account Setting
                    </a>
                    <div class="dropdown-menu">
                     <ul>
                        <li><a  class="dropdown-item" routerLink="#">Change Password</a></li>
                        <li><a  class="dropdown-item" routerLink="#">Logout</a></li>
                        </ul>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="#"><i class="fa fa-cog"></i> Case Trace</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-cog"></i> Forms
                    </a>
                    <div class="dropdown-menu">
                     <ul>
                        <li><a  class="dropdown-item" routerLink="#">PAN</a></li>
                        </ul>
                    </div>
                  </li>
                </ul>
              </nav>
              
             


        </div>
    </div>
</div>